.clearNav {
  backdrop-filter: saturate(180%) blur(5px) !important;
  background-color: rgba(0, 0, 0, 0.7) !important;
}

.fsac4 {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 32px;
}